<div class="container">
    <h2>Gallery</h2>
    <label>You can download (right-click & save) and use one of these images for testing:</label>
    <div class="row">
        <div class="col-md-6 col-xs-6 p-1">
            <img src="{{ url_for('static', filename='img/sample-gallery/1.jpg') }}" class="img-fluid">
        </div>
        <div class="col-md-6 col-xs-6 p-1">
            <img src="{{ url_for('static', filename='img/sample-gallery/1.jpg') }}" class="img-fluid">
        </div>
        <div class="col-md-6 col-xs-6 p-1">
            <img src="{{ url_for('static', filename='img/sample-gallery/1.jpg') }}" class="img-fluid">
        </div>
        <div class="col-md-6 col-xs-6 p-1">
            <img src="{{ url_for('static', filename='img/sample-gallery/1.jpg') }}" class="img-fluid">
        </div>
    </div>
</div>