<div class="container">
    <div class="row m-0">
        <div class="col-lg-4 col-md-6 d-flex justify-content-center p-2">
            <a href="https://mipt.ru/english/"><img src="{{ url_for('static', filename='img/institution/mipt.png') }}"
                    class="institute-images"></a>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center p-2">
            <a href="https://kif.ras.ru/"><img src="{{ url_for('static', filename='img/institution/CiF.jpg') }}"
                    class="institute-images"></a>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center p-2">
            <a href="https://croccode.ru/"><img src="{{ url_for('static', filename='img/institution/croc_code.png') }}"
                    class="institute-images"></a>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center p-2 pb-0">
            <a href="https://www.cnr.it/en/institute/054/institute-of-nanotechnology-nanotec"><img
                    src="{{ url_for('static', filename='img/institution/rome.png') }}" class="institute-images"></a>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center p-2 pt-4 pb-0">
            <a href="https://old.lebedev.ru/en/"><img
                    src="{{ url_for('static', filename='img/institution/lebedev.png') }}" class="institute-images"></a>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center p-2 pb-0">
            <a href="http://morfolhum.ru/"><img src="{{ url_for('static', filename='img/institution/morphology.jpg') }}"
                    class="institute-images"></a>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center p-2">
            <a href="https://smartengines.ru/"><img
                    src="{{ url_for('static', filename='img/institution/smart_engines.png') }}"
                    class="institute-images"></a>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center p-2">
            <a href="https://www.hereon.de/index.php.en"><img
                    src="{{ url_for('static', filename='img/institution/helmholz.png') }}" class="institute-images"></a>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center p-2">
            <a href="http://iitp.ru/en/about"><img
                    src="{{ url_for('static', filename='img/institution/ippi.jpg') }}" class="institute-images"></a>
        </div>
    </div>
</div>