<div class="container">
        <div class="jumbotron">
                <div class="lead">
                        <h1>Deep Leaning-based segmentation of post-mortem human's olfactory bulb structures in X-ray
                                phase-contrast
                                tomography</h1>

                        <p>A. Meshkov<sup>1</sup>, A. Khafizov<sup>2,3</sup>, A. Buzmakov<sup>2</sup>,
                                I. Bukeeva<sup>4,5</sup>, O. Junemann<sup>6</sup>, M. Fratini<sup>4</sup>,
                                A. Cedola<sup>4</sup>, M. Chukalina<sup>2,7</sup>, A. Yamaev<sup>7</sup>,
                                F. Wilde<sup>8</sup>, V. Asadchikov<sup>2</sup>S. Saveliev<sup>6</sup>
                                D. Nikolaev<sup>7, 9</sup></p>
                        <ol class="small">
                                <li><a href="https://mipt.ru/english/">The Moscow Institute of Physics and Technology, 9
                                                Institutskiy
                                                per.,
                                                Dolgoprudny, Moscow Region, 141701, Russian Federation</a></li>
                                <li><a href="https://kif.ras.ru/">FSRC «Crystallography and photonics» RAS, Leninskiy
                                                pr., 59, Moscow,
                                                Russian Federation</a></li>
                                <li><a href="https://croccode.ru/">croc_code, Volochayevskaya Ulitsa, 5/3, Moscow,
                                                111033</a></li>
                                <li><a href="https://www.cnr.it/en/institute/054/institute-of-nanotechnology-nanotec">Institute
                                                of
                                                Nanotechnology CNR, Rome Unit, Piazzale Aldo Moro 5, Rome, Italy</a>
                                </li>
                                <li><a href="https://old.lebedev.ru/en/">P.N. Lebedev Physical Institute, RAS, Leninskiy
                                                pr., 53 Moscow,
                                                Russian Federation</a></li>
                                <li><a href="http://morfolhum.ru/">FSSI Research Institute of Human Morphology, Tsyurupy
                                                Str 3, Moscow,
                                                Russian Federation</a></li>
                                <li><a href="https://smartengines.ru/">Smart Engines Service LLC, 60-letiya Oktyabrya
                                                pr., 9, Moscow,
                                                Russian Federation</a></li>
                                <li><a href="https://www.hereon.de/index.php.en">Institute of Materials Research,
                                                Helmholtz-Zentrum
                                                Geesthacht, Max-Planck-Str. 1, 21502 Geesthacht, Germany</a></li>
                                <li><a href="http://iitp.ru/en/about">Institute for Information
                                                Transmission Problems, Bol'shoi Karetnyi per. 19, Moscow</a></li>
                        </ol>

                        <h2>Abstract</h2>
                        <p class="small">To address the challenging problem of fully automated segmentation of human
                                olfactory bulb (OB)
                                neuronal layers, we propose a new pipeline for tomographic data processing.
                                Convolutional neural networks (CNN) was
                                used to segment X-ray phase-contrast tomographic (XPCT) image of native unstained OB.
                                Virtual segmentation of the
                                whole OB and an accurate delineation of each morphological layer of OB in a healthy
                                non-demented person is mandatory
                                as the first step for assessing OB morphological changes in smell impairment research.
                                Despite many studies, the
                                human OB's impairment accompanying olfactory dysfunction is still a hotly-debated topic.
                                In this framework, we
                                proposed an effective tool that could help to shed light on OB layer-specific
                                degeneration in patients with
                                olfactory disturbance.</p>

                </div>
        </div>
</div>