<div class="container">
    <h2>Test</h2>

    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div class="d-flex justify-content-center">
                <div class="custom-file w-50">
                    <input type="file" class="custom-file-input" name="image" id="image">
                    <label class="custom-file-label" for="image">Select image..</label>
                </div>

            </div>

            <p></p>

            <div class="form-check d-flex justify-content-center">
                <label class="form-check-label" name="out-info">
                    <input type="checkbox" class="form-check-input" name="out-info"
                        value="background">Segmentate background
                </label>
            </div>
            <div class="form-check d-flex justify-content-center">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="out-info"
                        value="layers">Segmentate layers
                </label>
            </div>

            <div class="form-group  d-flex justify-content-center m-2">
                <button class="btn btn-primary" id="submit">Submit</button>
            </div>

        </div>
    </form>
</div>

<div class="container d-flex justify-content-center">
    <img src="{{ output_img_url }}" class="img-fluid">
</div>