
.institute-images{
    width: 180px;
    height: 230px;
    object-fit: contain;
}

hr{
    border:solid 1px black;
    width: 50%;
    background-color: black;
    height: 1px;
}

.loader {
    border: 6px solid #007bff; /* Light grey */
    border-top: 6px solid #160544; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }